In [1]:
import pandas as pd
import numpy as np

# Q1: Write a Pandas program to get the powers of an array values element-wise. Note: First array elements raised to powers from second array

Sample data: {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
to use the np.power() can us the column**column

In [7]:
data= {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
df=pd.DataFrame(data=data)
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [ ]:
df['X']=df['X']*df['Y']
df['Y']=df["Y"]*df['Z']
print(df)

# Q2: Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [5]:
A=pd.Series(data=[2,4,6,8,10])
B=pd.Series(data=[1,3,5,7,9])
C=A+B
D=A-B
E=A*B
F=A/B
print(C, D, E, F)

0     3
1     7
2    11
3    15
4    19
dtype: int64 0    1
1    1
2    1
3    1
4    1
dtype: int64 0     2
1    12
2    30
3    56
4    90
dtype: int64 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

## Q3: Write a Pandas program to print a DataFrame without index.

df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32]},
     index =  [1, 2, 3, 4, 5, 6])

In [8]:
df2=pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32]},
     index =  [1, 2, 3, 4, 5, 6])
print(df2.to_string(index=False))

school_code class           name date_of_birth  weight
       s001     V Alberto Franco    15/05/2002      35
       s002     V   Gino Mcneill    17/05/2002      32
       s003    VI    Ryan Parkes    16/02/1999      33
       s001    VI   Eesha Hinton    25/09/1998      30
       s002     V   Gino Mcneill    11/05/2002      31
       s004    VI   David Parkes    15/09/1997      32

# Q4: Write a Pandas program to compare the elements of the two Pandas Series.
 Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [23]:
#range will output a list 
s1=pd.Series(data=range(2,11,2))
print(s1)
s2=pd.Series(data=[1,3,5,7,10])
print(s2)
result=s1>s2
print(result)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
0     True
1     True
2     True
3     True
4    False
dtype: bool

In [24]:
s1=pd.Series(data=[2,4,6,8,10])
s2=pd.Series(data=[1,3,5,7,10])
for i in range(len(s1)):
    if s1[i]>s2[i]:
        print('greater')
    elif s1[i]<s2[i]:
        print('less')
    else:
        print('equal')

greater
greater
greater
greater
equal

# Q5: Write a Pandas program to change the score in row 'd' to 11.5.

Sample DataFrame:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [13]:

exam_data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels= ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df3=pd.DataFrame(data=exam_data, index=labels)
df3.loc['d','score']=11.5
print(df3)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes